--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.0 
transformers==4.36.1
sentencepiece
fire
openai
nltk
rouge-score
accelerate
transformers_stream_generator
protobuf
datasets
tiger-eval @ git+https://github.com/SeaEval/TiGEr-Eval@main
